@import url('https://rsms.me/inter/inter.css');

:root {
  --c-bg: hsl(227, 64%, 4%);
  --c-bg-card: hsl(227, 14%, 13%);
  --c-text-primary: hsla(0, 0%, 100%, 1);
  --c-text-secondary: hsla(0, 0%, 100%, 0.72);
  --c-text-hint: hsla(0, 0%, 100%, 0.5);
  --c-text-error: hsl(0, 100%, 50%);
  --c-text-success: hsl(120, 94%, 49%);

  --c-btn-bg: hsla(0, 0%, 100%, 0.12);
  --c-btn-bg-hover: hsla(0, 0%, 100%, 0.16);
  --c-btn-bg-active: hsla(0, 0%, 100%, 0.24);
  --c-divider: hsla(0, 0%, 100%, 0.1);

  --c-scrollbar: hsla(0, 0%, 100%, 0.16);

  --radius-m: 6px;
  --radius-l: 24px;

  --canvas-filter: invert(1);
}

@tailwind base;
@tailwind components;

.bg-striped {
  --stripes-color: theme('colors.slate.400');
  --background-color: white;
  --stripes-width: 1px;
  --stripes-skew: -20deg;
  background: repeating-linear-gradient(
    var(--stripes-skew),
    var(--stripes-color),
    var(--stripes-color) var(--stripes-width),
    var(--background-color) var(--stripes-width),
    var(--background-color) 4px
  );
}

.dark .bg-striped {
  --stripes-color: theme('colors.zinc.800');
  --background-color: theme('colors.zinc.700');
}

@tailwind utilities;
